/**
 * Author: Mara Damatac
 * ID: A00973641
 **/

body { background: #daad86;
    background: -o-radial-gradient(#98dafc, #daad86);
    background: -webkit-radial-gradient(#98dafc, #daad86);
    background: -moz-radial-gradient(#98dafc, #daad86);
    background: radial-gradient(#98dafc, #daad86);
    height: 90vh;}
#main, .button, footer, header, #langOption { font-family: "Trebuchet MS", Helvetica, sans-serif; }
.button, footer, header { background: #312c32;
    color: #feffff; }
header { padding: .15em; }
header h2 { margin: 20px 0 0 30px; }
header h4 { margin: 5px 0 20px 30px;}
#wrapper { background: #ede9ce;
    width: 90%;
    min-height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 1em 0 0 0;
    overflow: hidden;}
#main { margin: 2em auto 1em auto;
    overflow: auto;
    text-align: center;
    min-height: inherit;
    padding-bottom: 1.2em; }
table { font-size: .90em;
	margin-right: auto;
	margin-left: auto;
	border: .75px solid #312c32; }
td, th { width: 115px; }
input[type="text"] { height: 15px;
	width: 200px;}
input[type="text"].idField  { width: 40px; }
.button { margin: .25em;
	padding: .10em;
	border: none;
	box-shadow: 0 5px #999;
	font-size: .80em; }
.button:hover { background: #6e6b6f; }
.button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.buttonLink {
	color: #98dafc;
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	border-bottom: 1.5px solid #98dafc;
	cursor: pointer;
}
.buttonLink:active {
	color: red;
}
.buttonLink:active {
	color: blue;
}
#error { font-size: 1.5em;
	color: red;
	font-weight: bold; }
.spanHead { font-size: 1.5em;
	font-weight: bold; }
footer { font-size: .75em;
    text-align: center;
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.2em;
    width: 100%; }
p { padding: 0 3em 0 3em;
	margin: .15em 0 .15em 0; }
#langOption { position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 13px; }
.paragraphHeader { margin: 3em 0 1em 0; }